.webix_toolbar {
  background-color: #39a0cf;
  color: #ffffff;
}

.label_color {
  color: #ffffff;
  font-size: 18px;
  padding-left: 10px;
}

.templ_position {
  font-size: 20px;
  padding-top: 5px;
}

.data_style .webix_hcell {
  border-bottom: 1px solid #dddddb;
  border-right: 1px solid #dddddb;
  background-color: #cce0eb;
}

.data_style .webix_ss_body .webix_column > div {
  border-right: 1px solid #dddddb;
}

.image {
  padding-top: 5px;
  height: 90px;
}

.style_for_image {
  text-align: center;
}

.image_buy {
  padding-top: 30px;
  height: 40px;
  padding-left: 14px;
}

.style_image_window {
  text-align: center;
  width: 250px;
}

.image_for_window {
  padding-top: 5px;
  height: 380px;
}

.text_winow {
  font-size: 16px;
  margin-left: 20px;
}

.text_in_windowHead {
  padding-left: 20px;
}

.icon_view_star {
  margin: 0px;
  padding: 0px;
}

.star_grey {
  position: absolute;
  top: -12px;
  left: 0px;
  border: 1px solid #8c8d8d;
}

.star_gold {
  background-color: #fdfa36;
  border: 1px solid #8c8d8d;
  position: absolute;
  top: -12px;
  left: 0px;
  size: 100px;
}

.buttons_counter {
  width: 80px;
  height: 32px;
  padding-top: 35px;
  padding-left: 12px;
}

.webix_inp_counter_prev {
  background-color: #39a0cf;
  color: #ffffff;
  border-top-left-radius: 20%;
  border-bottom-left-radius: 20%;
}

.webix_inp_counter_value {
  height: 28px;
}

.webix_inp_counter_next {
  background-color: #39a0cf;
  color: #ffffff;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
}

.button_status {
  background-color: #ffffff;
  font-size: 14px;
  color: #686868;
  text-align: left;
  width: 100px;
  height: 40px;
  border: 3px solid #262727;
}

.window_progress_text {
  font-size: 18px;
}

.window_toolbar_progress {
  background-color: #569fcf;
  color: #ffffff;
  padding-top: 6px;
}
